
@{
    ViewBag.Title = "Details";
}
@model BLL.DTO.CategoryDTO

<h2>Details of @Model.name</h2>

<div>
    <h3>
        Id : @Model.id
        <br />
        Name: @Model.name
        @*News Counts : @Model.NewsDTO.Count();*@
    </h3>
</div>


